<html>

	<head>
		<link rel= "stylesheet" href="/css/index.css">
		<link rel= "stylesheet" href="/css/global.css">
	</head>
	
	<body>
		<p1><center>
			<div class="westernFont">
				<div class="headerIndex">
					Welcome to The Oregon Trail</br></center>
				</div>
			</div>
		</p1>
		</br>
		
		<p2>
			</br></br></br>
			<div class="fadingMessage">
				<div class="fadeIndex">
					<div class="westernFont">
						Press Spacebar to Continue
					</div>
				</div>
			</div>
		</p2>
	</body>
	
</html>