<html>

<link rel= "stylesheet" href= "/css/global.css">
<link rel= "stylesheet" href= "/css/learn.css">

<body>
  <p1>
    <div id="grad1"></div>
  </p1>

  <p2>
    <div class="OregonTrailHeader">
      <div class="customTop">
        The Oregon trail
      </div>
    </div>
  </p2>

  <p3>
    <div class="customHeader">
      <div class="smallHeader">
        Learn about the Oregon Trail
      </div>
    </div>
  </p3>

  <p4>
    <div class="customBodyPixel">
      <div class="pressSpaceMessage">
        <div class="fadePressSpace">
          Press spacebar to return to the Main Menu
        </div>
      </div>
    </div>
  </p4>

  <p5>
    <div class="box">
      <div class="customHeaderAlt">
        <div class="inBox">
          Hello and welcome to my game that I had to design for my Software Development II class called the Oregon Trail.
          My game is based off of a real game called the Oregon Trail which is a lot more complex and professional.<br></br>
          In my game you start off as a party of 5 members, where one of the member's is the wagon leader and you need to travel
          the Oregon Trail. You have 45 days to complete this journey or else you lose.<br></br> Throughout your trip you will run
          in a variety of different terrains and each terrain will have its own weather. The desert for example will mostly have really
          hot weather, whereas the tundra terrain will have mostly cold weathers. There will be a display bar on the bottom as well
          as a wagon moving across the screen for reference on how much longer you have to go. Make it across the page and you
          become an Oregon Trail Champion. <br></br> Good luck and may the odds be ever in your favor! Go and become an Oregon Trail
          Champion!
        </div>
      </div>
    </div>
  </p5>
</body>

<script type= "text/javascript" src="/js/global.js"></script>
<script type= "text/javascript" src="/js/setup.js"></script>
<script type= "type/javascript" src="/js/learn.js"></script>

</html>
