<html>
	<div class="paddingRight">
	<head>
		<link rel= "stylesheet" href= "/css/mainmenu.css">
		
	</head>
	
	</br></br>
	
	<body>
		
		<p1 style="font-family:constantia;">
			<div class="headerFontSize">
				<div class="alignHeaderLeft">
					Main Menu
					</br></br>
				</div>
			</div>
			
			</br></br>
		</p1>
		<p2 style="font-family:constantia;">	
			<div class= "alignOptionsLeft">
				<div class="optionsFontSize">
					1. Travel the trail
					</br></br>
					2. Learn about the trail
					</br></br>
					3. See the Oregon top 10
					</br></br>
					4. Turn Sound (Off/On)
				</div>
			</div>	
		</p2>
	</body>
	</div>
</html>