<html>
	<div class="paddingRight">
	<head>
		<link rel= "stylesheet" href= "/css/mainmenu.css">
		
	</head>
	</br></br>
	
	<body>
		
		<p1>
			<div class="headerFontSize">
				<div class="alignHeaderLeft">
					<div class="alignHeaderTop">
						<font color="orange">
							Main Menu
						</font>
						</br></br>
					</div>
				</div>
			</div>
			
			</br></br>
		</p1>
		<p2>	
			<div class= "alignOptionsLeft">
				<div class="optionsFontSize">
					1. Travel the trail
					</br></br>
					2. Learn about the trail
					</br></br>
					<a href="http://localhost:1337/topten">
					3. See the Oregon top 10
					</a>
					</br></br>
					4. Turn Sound (Off/On)
				</div>
			</div>	
		</p2>
	</body>
	</div>
</html>