<html>
	
	<link rel= "stylesheet" href= "/css/mainmenu.css">
	<link rel= "stylesheet" href= "/css/global.css">
	<link rel= "stylesheet" href="/js/global.js">
	<link rel= "stylesheet" href="/js/mainmenu.js">
	
	
	<div id="grad"></div>
	
	<head>
		<h1>
		
		</h1>
		
	</head>
	</br></br>
	
	<body>
		<div class="Wagon">
			<img src="/images/Wagon.png" height="800" width="1600">
		</div>
			
		<p1>
			<div class="header">
				<div class="customHeader">
					Main Menu
				</div>
			</div>
		</p1>
		<p2>	
			<div class="customBody">
				<div class="option1">
					1. Travel the trail
				</div>
			</div>
		</p2>
		<p3>
			<div class="customBody">
				<div class="option2">
					2. Learn about the trail
				</div>
			</div>
		</p3>
		<p4>
			<div class="customBody">
				<div class="option3">
					3. See the Oregon top 10
				</div>
			</div>
		</p4>
		<p5>
			<div class="customBody">
				<div class="soundOption">
					4. Turn sound (&emsp;&emsp;&nbsp;&nbsp;)
				</div>
			</div>
		</p5>
		<p6>
			<div class="customBody">
				<div class="option4">
					Off
				</div>
			</div>
		</p6>
		<p7>
			<div class="customBody">
				<div class="option5">
					On
				</div>
			</div>
		</p7>
	</body>
	
	<script type= "text/javascript" src="/js/mainmenu.js"></script>
	
</html>