<html>

	<link rel= "stylesheet" href="/css/setup.css">
	<link rel= "stylesheet" href="/css/global.css">
	<link rel= "stylesheet" href="/js/global.js">

	<div id="grad"></div>

	<head>
		<h1>
				<div id = "setupContent"></div>
		</h1>
		<h2>
			<div class="header">
				<div class="customHeader">
					Choose one of the Following
				</div>
			</div>
		</h2>
	</head>
	<body>
		<p1>
			<div class="Wagon">
				<img src="/images/Wagon.png" height="800" width="1600">
			</div>

			<div class="customBodyPixel">
				<div class="option1">
					1. Be a banker from Boston
				</div>
				<div class="option2">
					2. Be a carpenter from Ohio
				</div>
				<div class="option3">
					3. Be a farmer from Illinois
				</div>
				<div class="option4">
					4. Find out the differences between the choices
				</div>
			</div>
		</p1>

		<p2 id= "returnMain">
			<div class="customBodyPixel">
				<div class="pressSpaceMessage">
					<div class="fadePressSpace">
						Press spacebar to return to the Main Menu
					</div>
				</div>
			</div>
		</p2>

		<p3>
			<div class="OregonTrailHeader">
				<div class="customTop">
					The Oregon trail
				</div>
			</div>
		</p3>
	</body>

	<script type= "text/javascript" src="/js/global.js"></script>
	<script type= "text/javascript" src="/js/setup.js"></script>

</html>
