<html>

<head>
	<script src="js/jquery/dist/jquery.min.js"></script>
	<script src="/js/global.js"></script>
	<link rel= "stylesheet" href="/css/setup.css">
	<link rel= "stylesheet" href="/css/global.css">
</head>

<div class="Wagon">
	<img src="/images/Wagon.png" height="800" width="1600">
</div>

<body>
	<p1>
		<div class="customBodyPixel">
			<div id = "setupContent">
			</div>
		</div>
	</p1>
			<div class="customBodyPixel">
		<p2 id= "returnMain">
			<div class="customBodyPixel">
				<div class="pressSpaceMessage">
					<div class="fadePressSpace">
						Press spacebar to return to the Main Menu
					</div>
				</div>
			</div>
		</p2>

		<p3>
			<div class="OregonTrailHeader">
				<div class="customTop">
					The Oregon trail
				</div>
			</div>
		</p3>
</body>

	<script type= "text/javascript" src="/js/global.js"></script>
	<script type= "text/javascript" src="/js/setup.js"></script>

</html>
