<html>
	<head>
		<link rel= "stylesheet" href= "/css/topten.css">
		<link rel= "stylesheet" href= "/css/global.css">
		<link rel= "stylesheet" href="/js/global.js">
		
			<h1>
				<div class="customHeader">
					<div class="headerTopTen">
						Top Ten Scoreboard
					 </div>
				</div>
			</h1>
	</head>
	<body>

		<p1>
			<div class="customHeader">
				<div class="optionsFontSize">
					<div class="alignLeftName">
						Name
					</div>
					<div class="alignLeftScore">
						Score
					</div>
					<div class="alignLeftDate">
						Date
					</div>
				</div>
			</div>
		</p1>
		
		<p2 id= "returnMain" >
			<div class="pressSpaceMessage">
				<div class="customBody">
					Press the spacebar to return to the Main Menu
				</div>
			</div>
		</p2>
		
		<p3>
			<div class="customBody">
				<div class="scores">
					<div class="score1">
						1.
					</div>
					<div class="score2">
						2.
					</div>	
					<div class="score3">
						3.
					</div>
					<div class="score4">
						4.
					</div>
					<div class="score5">
						5.
					</div>
					<div class="score6">
						6.
					</div>
					<div class="score7">
						7.
					</div>
					<div class="score8">
						8.
					</div>
					<div class="score9">
						9.
					</div>
					<div class="score10">
						10.
					</div>
				</div>
			</div>
		<p4>
		
	</body>
	
	<script type= "text/javascript" src="/js/global.js"></script>
</html>