<html>
	<head>
		<link rel= "stylesheet" href= "/css/topten.css">
		<link rel= "stylesheet" href= "/css/global.css">
		<link rel= "stylesheet" href="/js/global.js">
		
			<h1>
				<div class="westernFont">
					<div class="headerTopTen">
						Top Ten Scoreboard
					 </div>
				</div>
			</h1>
	</head>
	<body>
		<p1>
			<div class="westernFont">
				<div class="optionsFontSize">
					<div class="alignLeftName">
						Name
					</div>
					<div class="alignLeftScore">
						Score
					</div>
					<div class="alignLeftDate">
						Date
					</div>
				</div>
			</div>
		</p1>
		
		<p2 id= "returnMain" >
			<div class="pressSpace">
				<div class="westernFont">
					Press the spacebar to return to the Main Menu
				</div>
			</div>
		</p2>
		
	</body>
	
	<script type= "text/javascript" src="/js/global.js"></script>
</html>