<html>
	<head>
		<link rel= "stylesheet" href= "/css/topten.css">
		
		<div class="mmLink"
		<h1>
			<center>
				<a href="http://localhost:1337/mainmenu">Main Menu</a>
			</center>
		</div>
		</h1>
		
		<div class="paddingTopHeader">	
		<div class="headerFontSize">
			<h2>
				<center>
					<font color="orange"> Top Ten Scoreboard
					</font>
				</center>
			</h2>
		</div>
		</div>
	</head>
	</br>
	<body>
		<p1>
			<div class="optionsFontSize">
				<div class="alignLeftName">
					Name
				</div>
				<div class="alignLeftScore">
					Score
				</div>
				<div class="alignLeftDate">
					Date
				</div>
			</div>
		</p1>
	</body>
</html>