<html>

	<head>
			<link rel= "stylesheet" href="/css/trail.css">
			<link rel= "stylesheet" href="/css/global.css">
	</head>

	<body>
		
			<img src="/images/swagon.png" height = 300px width=600px id="swagon"/>

		<div id = "deathBox"><p>Your party has died</p><br/>
			<p>Press 1 to Restart</p><br/>
			<p>Press 2 to Quit</p>
		</div>

		<div id = "winBox"><p>Congrats! You won!</p><br/>
			<p>Press Enter to</p><br/>
			<p>Return to the</p><br/>
			<p>Main Menu</p>
		</div>

		<p1>
			<div class="customBodyPixel">
				<div id="gameinfo">
						<p>Days On Trail: <p id = "days"></p></p>
						<p>Miles Traveled: <p id = "miles"></p></p>
						<p>Party Health: <p id = "health"></p></p>
						<p>Current Weather: <p id = "weather"></p></p>
						<p>Current Pace: <p id = "pace"></p></p>
						<p>Current Terrain: <p id = "terrain"></p></p>
						<p>Party Members Alive: <p id = "memberStatus"></p></p>
						<p>Message: <p id = "message"></p></p>
				</div>
			</div>
		</p1>
		<!--<script type="text/javascript" src="/js/global.js"></script>-->
		<script type="text/javascript" src="/js/trail.js"></script>
	</body>

</html>
