<html>

	<head>
			<link rel= "stylesheet" href="/css/trail.css">
			<link rel= "stylesheet" href="/css/global.css">
	</head>

	<body>

			<div id="background"></div>

		<div class="customBodyPixel">
			<div id = "deathBox"><p>Your party has died</p><br/>
				<p>Press 1 to Restart</p><br/>
				<p>Press 2 to Quit</p>
			</div>
		</div>
		<div class="customBodyPixel">
			<div id = "winBox"><p>Congrats! You won!</p><br/>
				<p>Press Enter to</p><br/>
				<p>Return to the</p><br/>
				<p>Main Menu</p>
			</div>
		</div>

		<p1>
			<div class="customBodyPixel">
				<div id="gameinfo">
						<p>Days On Trail: <p id = "days"></p></p>
						<p>Miles Traveled: <p id = "miles"></p></p>
						<p>Party Health: <p id = "health"></p></p>
						<p>Current Weather: <p id = "weather"></p></p>
						<p>Current Pace: <p id = "pace"></p></p>
						<p>Current Terrain: <p id = "terrain"></p></p>
						<p>Party Members Alive: <p id = "memberStatus"></p></p>
						<p>Message: <p id = "message"></p></p>
				</div>
			</div>
		</p1>

		<p2>
			<div class="customBodyPixel">
				<div class="playBox">
					Press Spacebar To Go Onto The Next Day
					<br>Press The Letter P To Change Pace</br>
				</div>
			</div>

		<img src="/images/swagon.png" height = 100px width=200px id="swagon"/>

		<!--<script type="text/javascript" src="/js/global.js"></script>-->
		<script type="text/javascript" src="/js/trail.js"></script>
	</body>

</html>
