<html>

	<link rel= "stylesheet" href="/css/trail.css">
	<link rel= "stylesheet" href="/css/global.css">
	<link rel= "stylesheet" href="/js/global.js">
	
	<div id="grad1"></div>
	
	<head>
		<h1>
		
		</h1>
	</head>
	
	<body>
		<div class="Wagon">
			<img src="/images/Wagon.png" height="800" width="1600">
		</div>
		<p1>
			<div class="customBody">
				<div class="stats">
					Days on trail:
					</br>
					Miles traveled:
					</br>
					Party health status:
					</br>
					Current weather:
					</br>
					Current pace:
					</br>
					Current terrain:
					</br>
					# of party members alive:
				</div>
			</div>
		</p1>
	</body>
</html>