@font-face {
	font-family: customHeaderAlt;
	src: url("/fonts/font5.ttf");
}
.customHeaderAlt {
	font-family: customHeaderAlt;
}
@font-face {
	font-family: customBodyPixel;
	src: url("/fonts/font2.ttf");
}
.customBodyPixel {
	font-family: customBodyPixel;
	font-weight: normal;
}
@font-face {
	font-family: customHeader;
	src: url("/fonts/font6.ttf");
}
.customHeader {
	font-family: customHeader;
	font-weight: normal;
}
@font-face {
	font-family: customTop;
	src: url("/fonts/font7.ttf");
}
.customTop {
	font-family: customTop;
}
.header {
	font-size: 50px;
	position: absolute;
	left: 40px;
	top: 200px;
	color: C389D2;
}
.option1{
	font-size: 30px;
	position: absolute;
	left: 40px;
	top: 300px;
	color: gold;
}
.option2{
	font-size: 30px;
	position: absolute;
	left: 40px;
	top: 350px;
	color: gold;
}
.option3{
	font-size: 30px;
	position: absolute;
	left: 40px;
	top: 400px;
	color: gold;
}
.OregonTrailHeader{
	font-size: 73px;
	position: absolute;
	color:FEAA72;
	top: 0px;
	left: 34%;
}
.fadePressSpace{animation:fading 1.1s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
