.fadeIndex{animation:fading 2s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

body {
	background-image: url("/images/img2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 97%;
	width: 98%;

}
.headerIndex {
	position: absolute;
	left: 50%;
	top: 25%;
	width: 100%;
	font-size: 100px;
	transform: translate(-50%, -50%);
	Color: FEAA72;
}
.fadingMessage {
	position: absolute;
	top: 50%;
	left: 37%;
	font-size: 40px;
	color: black;
	border: 3px solid transparent;
}
