h1 {
	color: white;
}
body {	
	background-image: url("../images/wagon.png"); 
	background-repeat: no-repeat;
	background-size: cover;
	height: 95%;
	width: 98%;
	color: white;
	background-color: black;
}
div.lineBreak1 {
	display: block;
}
.alignHeaderTop {
	position: relative;
	top:30px;
}
div.alignHeaderLeft {
	position: relative;
	left: 100px;
}
div.alignOptionsLeft {
	position: relative;
	left: 100px;
}
div.left {
	text-align: left;
}
div.headerFontSize {
	font-size: 75px;
}
div.optionsFontSize {
	font-size: 30px;
}
div.paddingRight {
	padding-right: 900px;
}
@font-face {
	font-family: yoster;
	src: url("yoster");
}

div.cFont {
	font-family: yoster;
}
a:visited {
	color: gold;
	background-color: transparent;
	text-decoration: none;
}
a:unvisited {
	color: green;
	background-color: transparent;
	text-decoration: none;
}