body {
	margin: 0px;
}
#grad {
	height: 696px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: red;
	background-image: linear-gradient(steelblue, black);
}
.Wagon {
	position: relative;
	top: -800px;
	left: -64px;
	width: 50%;
	height: 0px;
	background-color: transparent;
}
.pressSpaceMessage {
	font-size: 20px;
	position: absolute;
	left: 39.5%;
	top:15px;
	color: white;
}
.option4{
	font-size: 30px;
	position: absolute;
	left: 215px;
	top: 490px;
	color: gold;
}
.option5{
	font-size: 30px;
	position: absolute;
	left: 215px;
	top: 470px;
	color: gold;
}
.soundOption {
	font-size: 30px;
	position: absolute;
	left: 45px;
	top: 450px;
	color: gold;
}