body {
	background-image: url("../images/grass0.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 95%;
	width: 98%;
	color: white;
	position: absolute;
	top: 20px;
	background-color: black;
}
.headerTopTen{
	font-size: 50px;
	position: absolute;
	left: 38%;
	top: 8%;
	color: C158FE;
}
.optionsFontSize{
	font-size: 25px;
}
.alignLeftName{
	position: absolute;
	left: 448px;
	width: 20px;
	top: 150px;
	border: 5px;
	color: deepskyblue;
}
.alignLeftScore{
	position: absolute;
	left: 720px;
	width: 20px;
	top: 150px;
	border: 5px;
	color: 3DE348;
}
.alignLeftDate{
	position: absolute;
	left: 1013px;
	width: 20px;
	top: 150px;
	border: 5px;
	color: crimson;
}
.pressSpaceMessage {
	font-size: 20px;
	position: absolute;
	left: 37.2%;
	top: 0px;
	border: 3px solid transparent;
}
.scores {
	font-size: 25px;
}
#blackbox {
	z-index: 1;
	position: absolute;
	top: 220px;
	left: 180px;
	width: 50px;
	height: 400px;
	background-color: black;
}

#topTenTable{
    text-align: center;
	font-size: 32px;
}

table{
	font-family: custom2;
    position: absolute;
		left: 5.5%;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    padding-top: 220px;
}

td{
    padding-left: 116px;
    padding-right: 116px;
    padding-bottom: 15px;
}

.score1 {
	position: absolute;
	left: 385px;
	top: 241px;
	color: gold;
}
.score2 {
	position: absolute;
	left: 385px;
	top: 277px;
	color: silver;
}
.score3 {
	position: absolute;
	left: 385px;
	top: 315px;
	color: cd7f32;
}
.score4 {
	position: absolute;
	left: 385px;
	top: 350px;
}
.score5 {
	position: absolute;
	left: 385px;
	top: 388px;
}
.score6 {
	position: absolute;
	left: 385px;
	top: 423px;
}
.score7 {
	position: absolute;
	left: 385px;
	top: 460px;
}
.score8 {
	position: absolute;
	left: 385px;
	top: 498px;
}
.score9 {
	position: absolute;
	left: 385px;
	top: 535px;
}
.score10 {
	position: absolute;
	left: 385px;
	top: 572px;
}

/*
table{
	position: absolute;
	left: 22.5%;
	color: white;
	margin: 0px;
	padding-top: 215px;
	font-size: 25px;
	font-family: custom2;
}
td {
	padding-left: 109px;
	padding-right: 109px;
	padding-bottom: 8px;
}
*/
