body {
	background-image: url("../images/grass0.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 95%;
	width: 98%;
	color: white;
	position: absolute;
	top: 20px;
	background-color: black;
}
.headerTopTen{
	font-size: 50px;
	position: absolute;
	left: 40%;
	top: 15%;
	color: C389D2;
}
.optionsFontSize{
	font-size: 25px;
}
.alignLeftName{
	position: absolute;
	left: 448px;
	width: 20px;
	top: 190px;
	border: 5px;
	color: deepskyblue;
}
.alignLeftScore{
	position: absolute;
	left: 757px;
	width: 20px;
	top: 190px;
	border: 5px;
	color: 3DE348;
}
.alignLeftDate{
	position: absolute;
	left: 1029px;
	width: 20px;
	top: 190px;
	border: 5px;
	color: crimson;
}
.pressSpaceMessage {
	font-size: 20px;
	position: absolute;
	left: 37.2%;
	bottom: 90px;
	border: 3px solid transparent;
	color: FEAA72;
}
.scores {
	font-size: 25px;
}
#blackbox {
	z-index: 1;
	position: absolute;
	top: 220px;
	left: 180px;
	width: 50px;
	height: 400px;
	background-color: black;
}

#topTenTable{
    text-align: center;
	font-size: 32px;
}

table{
	font-family: customBodyPixel;
    position: absolute;
		left: 5.5%;
    font-size: 21px;
    color: white;
    margin: 0 auto;
    padding-top: 220px;
}

td{
    padding-left: 116px;
    padding-right: 116px;
    padding-bottom: 10px;
}

.score1 {
	position: absolute;
	left: 385px;
	top: 241px;
	color: gold;
}
.score2 {
	position: absolute;
	left: 385px;
	top: 273.5px;
	color: silver;
}
.score3 {
	position: absolute;
	left: 385px;
	top: 306.8px;
	color: cd7f32;
}
.score4 {
	position: absolute;
	left: 385px;
	top: 338.3px;
}
.score5 {
	position: absolute;
	left: 385px;
	top: 371px;
}
.score6 {
	position: absolute;
	left: 385px;
	top: 404px;
}
.score7 {
	position: absolute;
	left: 385px;
	top: 437px;
}
.score8 {
	position: absolute;
	left: 385px;
	top: 470px;
}
.score9 {
	position: absolute;
	left: 385px;
	top: 503px;
}
.score10 {
	position: absolute;
	left: 385px;
	top: 536px;
}
