
body {
	border-top: 100px;
	max-width: 1495px;
	max-height: 200px;
	vertical-align: top;
}

#background {
	border: 0px;
	display: flex;
	background-size: cover;
	height: 100%;
	width: 99%;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -200px;
}

#swagon {
	position: relative;
	top: 449px;
	left: 0px;

}

#deathBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	border-style: ridge;
	border-width: 5px;
	height: 300px;
	width: 300px;
	background-color: black;
	border-color: cyan;
	color: white;
	font-size: 16pt;
	justify-content: center;
	position: absolute;
	top: 0px;
}

#winBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	border-style: ridge;
	border-width: 5px;
	height: 300px;
	width: 300px;
	background-color: black;
	border-color: cyan;
	color: white;
	font-size: 16pt;
	justify-content: center;
	position: absolute;
	top: 0px;
}
#gameinfo {
	background-color: black;
	color: white;
	border-style: ridge;
	border-width: 5px;
	border-color: cyan;
	height:175px;
	width: 98.35%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 554px;
	right: 7px;
}
.playBox {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 20px;
	color: white;
	border: 5px solid cyan;
	border-style: ridge;
	padding: 5px;
	background: black;
}
.stats {
	position: absolute;
	top: 30px;
	left: 30px;
	color: white;
	font-size: 20px;
	border: 5px solid white;
	border-radius: 20px;
	padding-left: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 75px;
	background: black;
}
.statsBorder {
	border: 10px solid black;
}
